@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  src: url("static/font/IndieFlower-Regular.ttf");
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url("static/font/Pacifico-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Indie Flower;
  font-weight: 600;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

.container {
  width: 100vw;
  padding: 20px 20px 40px 20px;
}

.board {
  display: flex;
  justify-content: center;
}

.columTitle {
  position: fixed;
  transform: translate(0px, -40px);
  width: 20%;
  min-width: 150px;
  text-align: center;
  background-color: white;
  z-index: 5;
}

.boardRow {
  flex-basis: 25%;
  min-width: 200px;
  border: 5px solid cadetblue;
  border-bottom: none;
  border-top: none;
  padding: 40px 10px 20px 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 60vh;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

.task {
  color: white;
  width: 80%;
  height: 80px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 8px;
  cursor: grab;
  transition: all 0.2s linear;
  transform: translate(0);
  &:hover {
    transform: translate(3px, 3px);
  }
}

.must {
  background-color: darkred;
}

.should {
  background-color: goldenrod;
}

.could {
  background-color: darkgreen;
}

.active {
  background-color: black;
}
