.task {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  width: 80%;
  height: 80px;
  margin: 5px 0;
  border: 2px solid black;
  border-radius: 8px;
  cursor: grab;
  transition: all 0.2s linear;
  transform: translate(0);
  &:hover {
    transform: translate(3px, 3px);
  }
}

.must {
  background-color: darkred;
}

.should {
  background-color: goldenrod;
}

.could {
  background-color: darkgreen;
}

.taskActive {
  background-color: black;
}