.task {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  color: black;
  font-size: 16px;
  width: 250px;
  margin: 0 0 0 auto;
  background-color: darkgray;
  padding: 20px;
  border-radius: 8px;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-name: taskInfoAnimation;
}

@keyframes taskInfoAnimation {
  0% {
    opacity: 0;
    transform: translate(100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.name {
  font-family: Pacifico;
  font-weight: 400;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}